<!-- <script src="./scripts/components.js"></script> -->
<div class=" bus-item">
    <div class="bus-item-details">
        <div class="row-one">
            <div class="">
                <div id="name" class="bus-name"></div>
                <div id="busType class="bus-type"></div>
            </div>
            <div class="column-three">
                <div id="departureTime" class="dp-time"></div>
                <div id="source" class="dp-loc"></div>
            </div>
            <div class="column-four">
                <div id="duration" class="dur"></div>
            </div>
            <div class="column-five">
                <div class="bp-time"></div>
                <div class="next-day-dp-lbl"></div>
                <div class="bp-loc"></div>
            </div><!-- 
            <div class="column-six">
                <div class="rating-sec">
                    <div class="lh-18 rating rat-green safety-star-rating-container"><i class="icon icon-safety_star d-block safety-star-rating"></i><span class="">4.9</span></div>
                </div>
                <div class="no-ppl m-top-16 l-color"><i class="icon d-block icon-rating_ppl"></i>53</div>
            </div> -->
            <div class="column-seven">
                <div class="seat-fare ">
                    <div id="seatFare" class="fare">INR <span class="price"></span></div>
                </div>
            </div>
           <!--  <div class="column-eight">
                <div class="seat-bar ">
                    <div class="light-g-bar">
                    <div class="red-bar w-NaN"></div>
                    </div>
                </div>
                <div class="seat-left">22<span class="l-color"> Seats available</span></div>
                <div class="window-left">11 <span class="l-color"> Window</span></div>
            </div> -->
        </div>
        <div class="row-two">
            <div class="amenities-icon">
                <ul>
                    <li class="d-block tooltip" title="Track My Bus" data-title="Track My Bus"><i class="icon icon-am_19 d-block"></i> <span class="tooltiptext">Track My Bus</span></li>
                </ul>
            </div>
            <!-- <div class="hero-feature "><span class="txt-block"> <i class="icon icon-addfil_0 icon-addfil_2"></i><span class="d-color">Live Tracking</span></span><span class="txt-block"><i class="icon icon-addfil_0 icon-addfil_res"></i><span class="d-color">Reschedulable</span></span></div> -->
        </div>
    </div>
    <div class="button view-seats">View Seats</div>
    <div>
        <ul class="bottom-panel">
            <li class="amenties-list"><span class="txt-val">Amenities</span></li>
            <li class="amenties-list"><span class="txt-val">Bus Photos</span></li>
            <li class="amenties-list"><span class="txt-val">Boarding &amp; Dropping Points</span></li>
            <li class="amenties-list"><span class="txt-val">Reviews</span></li>
            <li class="amenties-list"><span class="txt-val">Booking policies</span></li>
        </ul>
    </div>
</div>