form {
  background-color: #eee;
  padding: 20px;
  /* border: 1px solid #888; */
  display: flex;
  flex-direction: column;
}
fieldset {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: auto 5px;
  margin: 5px;
}